{
  "presets": [["@babel/preset-react", { "absoluteRuntime": false }]],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}
